<!DOCTYPE html>
<html lang="en">
<head>
  
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        
  <title>HTML5 Boilerplate</title>

  <%= htmlWebpackPlugin.options.JS_LIB_INCLUDES %>

</head>
<body style="margin: 0; padding: 0" background="<%= htmlWebpackPlugin.options.CDN_SERVER %>graphics/bgImage.jpg">
</body>
</html>

